<div class='row'>
	<% @products.each do |product| %>
		<div class='col-md-3'>
			<h3><%= link_to product.name, product %> </h3>
			<%= image_tag product.image.url(:thumb), class: 'product_image'%>
				<% if !product.missing_details? %></br>
				Type:<%= product.description %>
				<div class="">Price: <%= "#{product.currency}#{product.price}" %></div>
			<%end %>
		
		</div>

	<% end %>
</div>