<div class='row'>
	<% @products.each do |product| %>
		<div class='col-md-3'>
			<h3><%= link_to product.name, product %> </h3>
			Description: <%= product.description %>
			<div class="">Price: <%= "#{product.currency}#{product.price}" %></div>
		</div>
	<% end %>
</div>